<div class="container">
  <form>

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-6 p-lg-3 ui-fluid">
        <label>
          Vencimento
        </label>
        <input pInputText type="text" name="" value="">
      </div>

      <div class="p-col-6 p-lg-3 ui-fluid">
        <label>
          Recebimento
        </label>
        <input pInputText type="text" name="" value="">
      </div>

      <div class="p-col-12 p-lg-9 ui-fluid">
        <label>
          Descrição
        </label>
        <input pInputText type="text" name="" value="">
      </div>

      <div class="p-col-12 p-lg-3 ui-fluid">
        <label>
          Valor
        </label>
        <input pInputText type="text" name="" value="" placeholder="0,00">
      </div>

      <div class="p-col-12 p-lg-6 ui-fluid">
        <label>
          Categoria
        </label>
        <input pInputText type="text" name="" value="">
      </div>

      <div class="p-col-12 p-lg-6 ui-fluid">
        <label>
          Pessoa
        </label>
        <input pInputText type="text" name="" value="">
      </div>

      <div class="p-col-12 ui-fluid">
        <label>
          Observação
        </label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar"></button>

        <button pButton type="button" class="ui-button-success" label="Novo"></button>

        <a href="javascript:;">Voltar para a pesquisa</a>

      </div>




    </div>

  </form>
</div>
