<div class="container">
  <form autocomplete="off">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="p-col-6 p-lg-3 ui-fluid">
        <label>
          Vencimento
        </label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="p-col-6 p-lg-3 ui-fluid">
        <label>
          {{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
        </label>
        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="p-col-12 p-lg-9 ui-fluid">
        <label>
          Descrição
        </label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">
        <p-message severity="error" text="Descrição é obrigatório" *ngIf="descricao.hasError('required') && descricao.dirty"></p-message>
        <p-message severity="error" text="Mínimo de {{ descricao.errors.minlength.requiredLength }} caracteres." *ngIf="descricao.hasError('minlength') && descricao.dirty"></p-message>
      </div>

      <div class="p-col-12 p-lg-3 ui-fluid">
        <label>
          Valor
        </label>
        <input class="input-value" currencyMask [(ngModel)]="valor" pInputText type="text" name="valor-qq" value="">

      </div>

      <div class="p-col-12 p-lg-6 ui-fluid">
        <label>
          Categoria
        </label>
        <p-dropdown [options]="categorias" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="p-col-12 p-lg-6 ui-fluid">
        <label>
          Pessoa
        </label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione"></p-dropdown>
      </div>

      <div class="p-col-12 ui-fluid">
        <label>
          Observação
        </label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12">
        <button class="btn-cadastro-lancamento" pButton type="submit" label="Salvar"></button>

        <button pButton type="button" class="ui-button-success btn-cadastro-lancamento" label="Novo"></button>

        <a href="javascript:;">Voltar para a pesquisa</a>

      </div>
    </div>
  </form>
</div>
