<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="p-col-12 ui-fluid">
        <label>
          Nome
        </label>
        <input pInputText type="text" name="nome" #nome="ngModel" [(ngModel)]="pessoa.nome" ngModel required minlength="5">
        <app-message [control]="nome" error="required" text="Informe um nome."></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres."></app-message>

      </div>

      <div class="p-col-12 p-lg-9 ui-fluid">
        <label>
          Logradouro
        </label>
        <input pInputText type="text" name="logradouro" #logradouro="ngModel" [(ngModel)]="pessoa.endereco.logradouro" ngModel required minlength="5">
        <app-message [control]="logradouro" error="required" text="Informe o endereço."></app-message>
        <app-message [control]="logradouro" error="minlength"
        text="Mínimo de {{ logradouro.errors?.minlength?.requiredLength }} caracteres."></app-message>
      </div>

      <div class="p-col-12 p-lg-3 ui-fluid">
        <label>
          Número
        </label>
        <input pInputText type="text" name="numeroEnd" #numeroEnd="ngModel" [(ngModel)]="pessoa.endereco.numero" ngModel required>
        <app-message [control]="numeroEnd" error="required" text="Informe o número."></app-message>

      </div>

      <div class="p-col-12 p-lg-4 ui-fluid">
        <label>
          Complemento
        </label>
        <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento" value="">
      </div>

      <div class="p-col-12 p-lg-4 ui-fluid">
        <label>
          Bairro
        </label>
        <input pInputText type="text" name="bairroEnd" #bairroEnd="ngModel" [(ngModel)]="pessoa.endereco.bairro" ngModel required>
        <app-message [control]="bairroEnd" error="required" text="Informe o bairro."></app-message>
      </div>

      <div class="p-col-12 p-lg-4 ui-fluid">
        <label>
          CEP
        </label>
        <p-inputMask mask="99.999-999" name="cepEnd" #cepEnd="ngModel" [(ngModel)]="pessoa.endereco.cep" ngModel required></p-inputMask>
        <app-message [control]="cepEnd" error="required" text="Informe o CEP."></app-message>

      </div>

      <div class="p-col-12 p-lg-6 ui-fluid">
        <label>
          Cidade
        </label>
        <input pInputText type="text" name="cidadeEnd" #cidadeEnd="ngModel" [(ngModel)]="pessoa.endereco.cidade" ngModel required>
        <app-message [control]="cidadeEnd" error="required" text="Informe a Cidade."></app-message>

      </div>

      <div class="p-col-12 p-lg-6 ui-fluid">
        <label>
          Estado
        </label>
        <input pInputText type="text" name="estadoEnd" #estadoEnd="ngModel" [(ngModel)]="pessoa.endereco.estado" ngModel required>
       <app-message [control]="estadoEnd" error="required" text="Informe o Estado."></app-message>
      </div>


      <div class="p-col-12">
        <button class="btn-cadastro-lancamento" pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>

        <button pButton type="button" class="ui-button-success btn-cadastro-lancamento" label="Novo"
        (click)="novo(f)"></button>

        <a routerLink="/pessoas">Voltar para a pesquisa</a>

      </div>
    </div>
  </form>
</div>
